@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-openSans: var(--font-openSans);
	--font-robotoSlab: var(--font-robotoSlab);
	--color-asparagus: #60992d;
	--color-platinum: #e5e4e2;
	--color-electricIndigo: #6f00ff;
	--color-pumpkin: #ff7518;
	--color-baby_veryBlack: #0a0a0a;
	--color-baby_rich: #303234;
	--color-veryBlack: #000000;
	--color-babyPowder: #fefefa;
}

.flex-center {
	@apply flex items-center justify-center;
}

.h2-bold {
	@apply text-[24px] leading-[42px] font-bold tracking-tighter;
}
