@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-openSans: var(--font-openSans);
	--font-robotoSlab: var(--font-robotoSlab);
	--color-asparagus: #60992d;
	--color-platinum: #e5e4e2;
	--color-electricIndigo: #6f00ff;
	--color-pumpkin: #ff7518;
	--color-baby_veryBlack: #0a0a0a;
	--color-baby_rich: #969696;
	--color-veryBlack: #000000;
	--color-babyPowder: #fefefa;
	--color-richBlack: #010203;
	--color-ballonWhite: #faf9f6;
	--color-eerieBlack: #1b1b1b;
	--color-baby_balloon: #89cff0;
}

.flex-center {
	@apply flex items-center justify-center;
}

.h2-bold {
	@apply text-[24px] leading-[42px] font-bold tracking-tighter;
}

.electricIndigo-gradient {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		130deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(102, 16, 242, 1) 100%,
		rgba(0, 212, 255, 1) 100%
	);
}

.color-invert {
	@apply invert dark:invert-0;
}

.base-medium {
	@apply text-[19px] leading-[25.2px] font-medium;
}

.base-bold {
	@apply text-[19px] leading-[140%] font-bold;
}

.invert-colors {
	@apply invert dark:invert-0;
}

.small-medium {
	@apply text-[14px] leading-[15.6px] font-medium;
}

.light-border-2 {
	@apply border-richBlack dark:border-ballonWhite;
}
.btn-tertiary {
	@apply bg-platinum dark:bg-richBlack;
}

.lime-gradient {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		137deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(132, 204, 22, 1) 100%,
		rgba(0, 212, 255, 1) 100%
	);
}

.light-border {
	@apply border-platinum dark:border-eerieBlack;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	border-radius: 2px;
}
